<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/nav.ejs') %>

<div class="grid-container">
    <div class="cell small-12">
        <div class="grid-x">
            <div class="cell small-7 medium-9">
                <h2 class="margin-bottom-0">Users</h2>
            </div>
            <div class="cell small-5 medium-3 text-right padding-top-1">
                <a href="#" onclick="resetUserForm(); $('#userModal').foundation('open');" class="button secondary small padding-right-2 padding-left-2">Create new user</a>
            </div>
        </div>
    </div>
    <hr class="hr-title-separator">
    <div class="cell small-12">
        <table class="stack" id="userTable">
            <thead>
            <tr>
                <th class="medium-2">Name</th>
                <th class="medium-2">Lastname</th>
                <th class="medium-3">Email Address</th>
                <th class="medium-2">Type</th>
                <th class="medium-2">Client</th>
                <th class="medium-1">&nbsp</th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            <% users.forEach(user => { %>
                <%
                let client = "";
                if (user.client_id?.name) {
                    client = user.client_id.name;
                }
                %>
            <tr id="<%= user._id %>">
                <td><%= user.name %></td>
                <td><%= user.lastname %></td>
                <td><%= user.email_address %></td>
                <td><%= client %></td>
                <td><%= user.type_id.name %></td>
                <td class="text-center actions">
                    <div class="fi-page-edit display-inline padding-right-1" onclick="resetUserForm(); $('#userModal').foundation('open'); getUser('<%= user._id %>')"></div>
                    <div class="fi-trash display-inline" onclick="deleteUser('<%= user._id %>')"></div>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<div class="reveal medium" id="userModal" data-reveal>
    <%- include('./modal-user.ejs') %>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>
<script src="/assets/js/user.js"></script>
</body>
</html>