<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <meta http-equiv="content-language" content="en-US" />
    <title>Invoice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css"
          integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug=="
          crossorigin="anonymous" referrerpolicy="no-referrer" media="print"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation-float.min.css"
          integrity="sha512-tuBWy51BW5GZ5BfYddst4eq3d8mcnOk1I5ZHj45P5AUcf9yo5X3KmOJslloaM0ZoSDzS4lcGY91j3L1k5ZVuVg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        body {
            font-size: 0.24cm;
        }

        table {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0.1rem;
        }

        .table-bottom {
            margin-top: 50px;
        }

        .vertical-bottom {
            position: fixed;
            top: 70%;
            /* bring your own prefixes */
            transform: translate(0, -20%);
        }
    </style>
</head>
<body>
<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-4 medium-offset-4">
            <img src="http://store.haysproduce.com/assets/img/logo-invoice.jpg" class="margin-0 padding-0">
        </div>
        <div class="cell medium-4">
            <h3 class="margin-bottom-0">Invoice <%= data.number %></h3>
            <p><span>Customer:</span> <%= data.client.code %> / <%= data.client.name.replace("'", "´"); %></p>
            <p><span>Contact:</span> <%= data.contact.replace("'", "´"); %></p>
        </div>
    </div>
    <div class="cell clearfix"></div>
    <div class="float-left">
        <p>
            263 Big Sandy Dr, Kyle, Texas, 78640<br>
            homedelivery@haysproduce.com<br>
            Phone: (512) 667 5629
        </p>
    </div>
    <div class="cell clearfix"></div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-4 medium-offset-2">
            <b>Bill To:</b><br>
            <%= data.bill_to.street.replace("'", "´"); %>, <%= data.bill_to.city %>,
            <%= data.bill_to.state %>, <%= data.bill_to.zipcode %><br>
            <%= data.phone %>
        </div>
        <div class="cell medium-4">
            <b>Ship To:</b><br>
            <%= data.shipping_address.street.replace("'", "´"); %>, <%= data.shipping_address.city %>,
            <%= data.shipping_address.state %>, <%= data.shipping_address.zipcode %><br>
            <%= data.phone %>
        </div>
        <div class="cell medium-2">&nbsp;</div>
        <div class="cell clearfix"></div>
        <div class="cell medium-12">
            <table class="unstriped">
                <tr>
                    <td>Wrong Item (WI)</td>
                    <td>Over Shipped (OS)</td>
                    <td>Price Change (PC)</td>
                    <td>Wrong Customer (WC)</td>
                    <td>Short Item (SI)</td>
                    <td>Bad Quality (BQ)</td>
                    <td>Add Item (A)</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="cell clearfix"></div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-12">
            <table class="unstriped">
                <thead>
                <tr>
                    <th class="medium-2 text-center">Date</th>
                    <th class="medium-3 text-center">Ship Via</th>
                    <th class="medium-2 text-center">Due Date</th>
                    <th class="medium-5 text-center">Terms</th>
                </tr>
                </thead>
                <tbody
                <tr>
                    <td class="medium-2 text-center"><%= data.date %></td>
                    <td class="medium-3 text-center">&nbsp;</td>
                    <td class="medium-2 text-center"><%= data.due_date %></td>
                    <td class="medium-5 text-center">UPON RECEIPT</td>
                </tr>
                </tbody>
            </table>
            <table class="unstriped">
                <thead>
                <tr>
                    <th class="medium-3 text-center">Purchase Order Number</th>
                    <th class="medium-2 text-center">Order Date</th>
                    <th class="medium-2 text-center">Sales Person</th>
                    <th class="medium-2 text-center">Order Taker</th>
                    <th class="medium-3 text-center">Our Order Number</th>
                </tr>
                </thead>
                <tbody
                <tr>
                    <td class="medium-3 text-center">&nbsp;</td>
                    <td class="medium-2 text-center"><%= data.order_date %></td>
                    <td class="medium-2 text-center"><%= data.salesperson.replace("'", "´"); %></td>
                    <td class="medium-2 text-center"><%= data.ordertaker.replace("'", "´"); %></td>
                    <td class="medium-3 text-center"><%= data.our_order_number %></td>
                </tr>
                </tbody>
            </table>
            <table class="unstriped">
                <thead>
                <tr>
                    <th colspan="3" class="medium-3 text-center">Quantity</th>
                    <th rowspan="2" class="medium-2 text-center">Item Code</th>
                    <th rowspan="2" class="medium-2 text-center">Description</th>
                    <th rowspan="2" class="medium-2 text-center">Tax | Unit Price</th>
                    <th rowspan="2" class="medium-2 text-center">Amount</th>
                    <th rowspan="2" class="medium-1 text-center">Return Qty Reason</th>
                </tr>
                <tr>
                    <th class="medium-1 text-center">Ordered</th>
                    <th class="medium-1 text-center">Shipped</th>
                    <th class="medium-1 text-center">Pack</th>
                </tr>
                </thead>
                <tbody>
                <% items.forEach(item => { %>
                    <tr>
                        <td class="text-center"><%= item.ordered %></td>
                        <td class="text-center"><%= item.shipped %></td>
                        <td class="text-center"><%= item.pack.replace("'", "´"); %></td>
                        <td class="text-center"><%= item.item_code %></td>
                        <td class="text-center"><%= item.description.replace("'", "´"); %></td>
                        <td class="text-center text-right"><%= item.unit_price %></td>
                        <td class="text-center text-right"><%= item.amount %></td>
                        <td class="text-center">&nbsp;</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cell clearfix"></div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-12 table-bottom">
            <table class="unstriped">
                <tbody>
                <tr>
                    <td class="medium-8" style="border: 1px solid darkgray; font-size: 0.22cm;">
                        <p>
                            Adjustment and quality must be reported within 24 hours of receipt
                            of merchandise by phone, fax or email. All phone requests must be
                            followed up in writing via fax or email in order to eliminate
                            confusion. Once received, a credit memo number will be issued by a
                            salesperson or customer service professional which must be added
                            with your remittance.
                        </p>
                        <p>
                            This Perishable agricultural commodities listed on this invoice are
                            sold subject statutory trust authorized by section 5(c) of the
                            Perishable Agricultural Commodities Act, 1930 (7 U.S.C. 499e(c)).
                            The seller of these commodities retains a trust claim over these
                            commodities all inventories of food or other products derived from
                            these commodities, and any receivables or proceeds from the sale
                            of these commodities until full payment is received.
                        </p>
                        <p>
                            Purchaser aggrees to pay all reasonable cost of collection, attorney's
                            fees & any cost incident thereor and consents to venue in Kyle Austin
                            Texas, for any court action. Interest of 1.5% per Month will be
                            charged on all outstanding balances.<br>
                            ALL CHECKS RETURNED UNPAID FOR ANY REASON WILL BE SIBJECT TO A CHARGE
                            OF 25% OF FACE VALUE OR $45.00 WHICHEVER IS GREATER. Prices are subject
                            to change without notice due to market prices
                        </p>
                    </td>
                    <td colspan="2" class="medium-4 text-center">&nbsp;</td>
                </tr>
                <tr>
                    <td class="medium-8">
                        ORDER RECV'D VIA EMAIL AT <%= data.order_received_at %> CGS<br>
                        SIGNATURE ONLY, DELIVERED BY <%= data.ordertaker; %>
                    </td>
                    <td class="medium-2 text-right"><b>Total Invoice</b></td>
                    <td class="medium-2 text-left"><b><%= data.total %></b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="cell medium-12 text-center">Signature: _____________________________________________________</div>
    </div>
</div>
</body>
</html>