<div class="cell clearfix">
    <div class="float-left">
        <h3 class="margin-bottom-0">Invoices</h3>
    </div>
    <% if (allowed) { %>
    <div class="float-right">
        <a href="#" class="button secondary small margin-top-1" onclick="$('#invoiceModal').foundation('open'); getOrder('<%= order._id %>');">Create Invoice</a>
    </div>
    <% } %>
</div>
<hr class="hr-title-separator">
<div class="cell small-12" id="invoicesTable">
    <% invoices.forEach((invoice, index) => { %>
    <div class="float-left">
        <span>Invoice Number: <small><b><%= _.padStart(invoice.number, 6, '0') %></b></small></span><br>
        <span>Shipping Date: <small><b><%= moment(invoice.shipping_date).format('MMM Do, YYYY') %></b></small></span>
    </div>
    <div class="float-right">
        <a href="#" class="button secondary small" onclick="downloadInvoice('<%= invoice._id %>'); return false;"><span class="fi-download"></span> Download Invoice</a>
    </div>
    <table>
        <thead>
        <tr>
            <th class="small-1">Qty</th>
            <th class="small-2">Unit</th>
            <th class="small-7">Products</th>
            <th class="small-1">Unit Price</th>
            <th class="small-1">Price</th>
        </tr>
        </thead>
        <tbody>
        <% invoicesDetails[index].forEach(detail => { %>
        <tr>
            <td><%= detail.quantity %></td>
            <td><%= detail.unit_id.name %></td>
            <td><%= detail.product_id.manufacturer_name %></td>
            <td>$<%= detail.unit_price.toFixed(2).toLocaleString() %></td>
            <td>$<%= detail.total.toFixed(2).toLocaleString() %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
        <% if (invoice.user) { %>
    <div class="float-right">
        <h7>Attended by <%= invoice.user.name %> <%= invoice.user.lastname %></h7>
    </div>
        <% } %>
    <hr class="margin-top-3">
    <% }) %>
</div>
<div class="reveal large" id="invoiceModal" data-reveal>
    <%- include('./modal-add.ejs') %>
</div>
<script>
    async function downloadInvoice(id) {
        const method = 'GET';
        const endpoint = '/invoices/download/' + id;
        await fetch(endpoint, {method: method})
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Something went wrong.');
                }
            })
            .then(result => {
                downloadFile(result.path);
            })
            .catch(err => console.log(err));
    }

    function downloadFile(filePath){
        var link=document.createElement('a');
        link.href = filePath;
        link.download = filePath.substr(filePath.lastIndexOf('/') + 1);
        link.click();
    }
</script>