<form method="POST" onsubmit="return false;" id="invoiceForm">
    <input type="hidden" name="orderId" value="<%= order._id %>">
    <h3>Invoices</h3>
    <hr>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-vertical-center">Shipping Date</div>
        <div class="cell small-4 medium-3">
            <input type="text" id="date" name="date" class="input-text-1">
        </div>
        <div class="cell auto">&nbsp;</div>
        <div class="cell small-12 margin-top-1">
        <table>
            <thead>
            <tr>
                <th class="small-5">Product</th>
                <th class="small-2">Unit</th>
                <th class="small-1">Quantiy</th>
                <th class="small-2">Unit Price</th>
                <th class="small-2">Price</th>
            </tr>
            </thead>
            <tbody>
            <% order.details.forEach(product => { %>
            <tr id="<%= product._id %>">
                <input type="hidden" id="detail-<%= product._id %>" name="detail[detailId]" value="<%= product._id %>">
                <input type="hidden" id="unit-<%= product._id %>" name="detail[unitId]" value="<%= product.unit_id._id %>">
                <input type="hidden" id="product-<%= product._id %>" name="detail[productId]" value="<%= product.product_id._id %>">
                <input type="hidden" id="price-<%= product._id %>" name="detail[unitPrice]" value="<%= product.unit_price %>">
                <input type="hidden" id="total-<%= product._id %>" name="detail[total]" value="<%= product.total %>">
                <td><%= product.product_id.manufacturer_name %></td>
                <td><%= product.unit_id.name %></td>
                <td>
                    <input type="text" id="quantity-<%= product._id %>" name="detail[quantity]" value="<%= product.quantity_pending %>" class="input-text-2 text-vertical-center">
                </td>
                <td>
                    $<%= product.unit_price.toFixed(2).toLocaleString() %>
                </td>
                <td>
                    <span id="totaltext-<%= product._id %>">aa$<%= product.total.toFixed(2).toLocaleString() %></span>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-2 small-offset-8 text-right padding-right-1">
            <a href="#" class="button alert small" data-close aria-label="Close modal">Cancel</a>
        </div>
        <div class="cell small-2"><a href="#" id="saveButton" class="button small secondary">Save</a></div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</form>