<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/nav.ejs') %>

<div class="grid-container fluid">
    <div class="cell small-12">
        <div class="grid-x">
            <div class="cell small-10">
                <h2>Orders</h2>
            </div>
            <div class="cell small-2 text-right" style="padding-top: 15px">
                <a href="/orders/new" class="button secondary">Create new order</a>
            </div>
        </div>
    </div>
    <div class="cell small-12">
        <table>
            <thead>
            <tr>
                <th class="small-2">Order #</th>
                <th class="small-4">Date</th>
                <th class="small-4">Total</th>
                <th class="small-2">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= _.padStart(order.number, 7, '0') %></td>
                    <td><%= moment(order.date).format('MMM DD, YYYY') %></td>
                    <td>$<%= order.total %></td>
                    <td class="text-right"><a href="/orders/view/<%= order._id %>" class="button hollow tiny" style="margin-top: 10px">View Order</td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>
</body>
</html>