<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/nav.ejs') %>

<div class="grid-container">
    <div class="cell small-12">
        <div class="grid-x">
            <div class="cell small-10">
                <h2 class="margin-bottom-0">New Order</h2>
            </div>
        </div>
    </div>
    <hr class="margin-bottom-1 hr-title-separator">
    <form method="POST" action="/orders/place/<%= order._id %>" id="placeOrderForm">
        <div class="cell small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-2 small-2 text-right text-vertical-center">Date</div>
                <div class="cell medium-2 small-4">
                    <input type="text" id="date" name="date" class="input-text-1" required>
                </div>
                <div class="cell medium-2 small-2 text-right large-offset-3 text-vertical-center">Order #</div>
                <div class="cell medium-2 small-3 fix-default-cell-margin">
                    <input type="text" class="input-text-1" id="number" name="number" value="<%= _.padStart(order.number, 7, '0') %>" disabled>
                </div>
            </div>
            <div class="grid-x grid-margin-x margin-top-2 margin-bottom-2">
                <div class="cell medium-2 small-2 text-right text-vertical-center">Shipping Date</div>
                <div class="cell medium-2 small-4 fix-default-cell-margin">
                    <input type="text" id="shipping_date" name="shipping_date" class="input-text-1" required>
                </div>
                <div class="cell small-8 medium-8"></div>

                <div class="cell medium-2 small-2 text-right text-vertical-center">Client</div>
                <div class="cell medium-2 small-3 text-vertical-center fix-default-cell-margin">
                    <input type="hidden" id="client" name="client" value="<%= clientData._id %>">
                    <b><%= clientData.name %></b>
                </div>
                <div class="cell medium-2 small-2 text-right text-vertical-center">Warehouse</div>
                <div class="cell medium-2 small-2 fix-default-cell-margin">
                    <select id="warehouse" name="warehouse" class="input-text-2" onchange="getWarehouse();" required>
                        <option disabled selected>Select One</option>
                        <% warehouses.forEach(warehouse => { %>
                            <option value="<%= warehouse._id %>"><%= warehouse.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="cell medium-3 small-2 text-vertical-center"><small>Select a Warehouse or add a custom address</small></div>

                <div class="cell small-2 medium-2 text-right text-vertical-center">Shipping Address</div>
                <div class="cell small-9 medium-9 fix-default-cell-margin">
                    <input type="text" id="shipping_address" name="shipping_address" class="input-text-2" placeholder="Shipping Address" required>
                </div>
                <div class="cell small-1 medium-1"></div>
                <div class="cell small-2 medium-2 text-right text-vertical-center">City</div>
                <div class="cell small-2 medium-2 text-vertical-center fix-default-cell-margin">
                    <input type="text" name="city" id="city" placeholder="City" class="input-text-2" required>
                </div>
                <div class="cell small-2 medium-2 text-right text-vertical-center">State</div>
                <div class="cell small-1 medium-2 text-vertical-center fix-default-cell-margin">
                    <input type="text" name="state" id="state" placeholder="State" class="input-text-2" required>
                </div>
                <div class="cell small-2 medium-1 text-right text-vertical-center">Zipcode</div>
                <div class="cell small-2 medium-2 text-vertical-center fix-default-cell-margin">
                    <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode" onfocusout="getCity();" class="input-text-2" required>
                </div>
                <div class="cell small-2 medium-2 text-right text-vertical-center">Contact</div>
                <div class="cell small-4 medium-2 fix-default-cell-margin">
                    <input type="text" id="contact" name="contact" class="input-text-2" placeholder="Contact Person" required>
                </div>
                <div class="cell small-2 medium-2 text-right text-vertical-center">Phone Number</div>
                <div class="cell small-3 medium-2 fix-default-cell-margin">
                    <input type="text" id="phone" name="phone" class="input-text-2" placeholder="(xxx)xxx-xxxx" required>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-2 medium-2 text-right text-vertical-center">Payment Method</div>
                <div class="cell small-4 medium-2 fix-default-cell-margin">
                    <select class="input-text-2" id="payment_method" name="payment_method" required>
                        <option selected disabled>Select One</option>
                        <% paymentMethods.forEach(method => { %>
                            <option value="<%= method._id %>"><%= method.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-2 medium-2 text-right">Status</div>
                <div class="cell small-9 medium-9">
                    <span class="label warning"><%= _.capitalize(order.status) %></span>
                </div>
            </div>
            <hr class="padding-top-1 margin-bottom-1 hr-title-separator">
            <div class="cell small-12 text-right">
                <a href="#" class="button small secondary" data-open="addProductModal" onclick="resetAddProductForm();">Add Products</a>
            </div>
            <div class="cell small-12">
                <table class="table-striped" id="detailsTable">
                    <thead>
                    <tr>
                        <th class="small-1">Qty</th>
                        <th class="small-2">Unit</th>
                        <th class="small-6">Products</th>
                        <th class="small-1">Unit Price</th>
                        <th class="small-1">Price</th>
                        <th class="small-1">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr class="margin-bottom-1">
        <div class="cell small-2">
            <button type="button" onclick="validateOrder();" class="button small secondary" id="placeOrderButton">Place Order</button>
        </div>
    </form>
</div>

<div class="reveal" id="addProductModal" data-reveal>
    <form action="/orders/add-product" method="POST" id="addProductForm">
        <input type="hidden" name="order_id" id="orderId" value="<%= order._id %>">
        <h3 class="margin-bottom-2">Select Product</h3>
        <div class="grid-x grid-margin-x">
            <div class="cell small-2 text-right text-vertical-center">Products</div>
            <div class="cell small-10 fix-default-cell-margin">
                <select class="input-text-2" id="product" name="product_id" onselect="getUnits(this);" onchange="getUnits();" required data-msg="Please select a product">
                    <option selected disabled>Select a product</option>
                    <% products.forEach(product => { %>
                        <option value="<%= product._id %>"><%= product.manufacturer_name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-2 medium-2 text-right text-vertical-center">Quantity</div>
            <div class="cell small-4 medium-2">
                <input type="number" min="1" id="quantity" name="quantity" class="input-text-1" value="1" onchange="if (this.value < 1) { this.value = 1; }" required>
            </div>
            <div class="cell small-1 medium-2 text-right text-vertical-center">Unit</div>
            <div class="cell small-3 medium-3 fix-default-cell-margin">
                <select class="input-text-2" id="unit" name="unit_id" onchange="getPrice();" required data-msg="Please select a unit">
                    <option selected disabled>Select Unit</option>
                </select>
            </div>
            <div class="cell small-2 medium-3 text-vertical-center">
                <span id="unitPrice">&nbsp;</span>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-2 large-offset-8"><a href="#" class="button alert small" data-close
                                                        aria-label="Close modal" onclick="resetAddProductForm();">Cancel</a></div>
            <div class="cell small-2"><a href="#" id="addButton" class="button small secondary">Add</a></div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button" onclick="resetAddProductForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </form>
</div>


<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>
<script src="/assets/js/orders.js"></script>
</body>
</html>