<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/nav.ejs') %>

<div class="grid-container fluid">
    <div class="cell small-12">
        <h2>Order number <small><%= _.padStart(order.number, 6, '0')%></small></h2>
    </div>
    <div class="cell small-12">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right">Date</div>
            <div class="cell auto"><%= moment(order.date).format('MMM DD, YYYY') %></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right">Shipping Address</div>
            <div class="cell auto"><%= order.shipping_address %></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right">Payment Method</div>
            <div class="cell auto"><%= order.payment_method.name %></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right">Created By</div>
            <div class="cell auto">
                <%= _.capitalize(order.user.name) + " " + _.capitalize(order.user.lastname) %>
            </div>
        </div>
        <hr>
        <div class="cell small-12">
            <table>
                <thead>
                <tr>
                    <th class="small-1">Qty</th>
                    <th class="small-2">Unit</th>
                    <th class="small-7">Products</th>
                    <th class="small-1">Unit Price</th>
                    <th class="small-1">Price</th>
                </tr>
                </thead>
                <tbody>
                <% order.details.forEach(product => { %>
                <tr>
                    <td><%= product.quantity %></td>
                    <td><%= product.unit_id.name %></td>
                    <td><%= product.product_id.name %></td>
                    <td>$<%= product.product_id.price.toFixed(2).toLocaleString() %></td>
                    <td>$<%= product.total.toFixed(2).toLocaleString() %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>
</body>
</html>