<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/nav.ejs') %>

<div class="grid-container">
    <div class="cell small-12">
        <div class="float-left">
            <h2 class="margin-bottom-0">Order number <small><%= _.padStart(order.number, 6, '0')%></small></h2>
        </div>
        <% if (adminUser) { %>
        <div class="float-right">
            <a type="button" class="button alert small margin-top-1" onclick="deleteOrder('<%= order._id %>');">Delete Order</a>
        </div>
        <% } %>
    </div>
    <hr class="hr-title-separator">
    <div class="cell small-12">
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right font-bold">Date:</div>
            <div class="cell auto"><%= moment(order.date).format('MMM Do, YYYY') %></div>
        </div>
        <div class="grid-x grid-margin-x margin-top-1">
            <div class="cell small-4 medium-2 text-right font-bold">Client:</div>
            <div class="cell small-8 medium-10 font-bold">
                <%
                let client = "N/A";
                if (order.client?.name) {
                    client = order.client.name;
                }
                %>
                <%= client %>
            </div>
            <div class="cell small-4 medium-2 text-right font-bold">Shipping Date:</div>
            <div class="cell auto"><%= moment(order.shipping_date).format('MMM Do, YYYY, HH:mm') %></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right font-bold">Shipping Address:</div>
            <div class="cell auto">
                <%= order.shipping_address %>, <%= order.city %>, <%= _.upperCase(order.state) %>, <%= order.zipcode %>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right font-bold">Contact Person:</div>
            <div class="cell small-2 medium-3"><%= order.contact %></div>
            <div class="cell small-3 medium-2 text-right font-bold">Phone number:</div>
            <div class="cell small-2 medium-3"><%= order.phone %></div>
        </div>
        <div class="grid-x grid-margin-x margin-top-1">
            <div class="cell small-4 medium-2 text-right font-bold">Payment Method:</div>
            <div class="cell auto"><%= order.payment_method?.name %></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-4 medium-2 text-right font-bold">Created By:</div>
            <div class="cell auto">
                <%= _.capitalize(order.user.name) + " " + _.startCase(order.user.lastname) %>
            </div>
        </div>
        <div class="grid-x grid-margin-x margin-top-1">
            <div class="cell small-4 medium-2 text-right font-bold">Status:</div>
            <div class="cell auto"><%= _.upperCase(order.status) %></div>
        </div>
        <hr class="padding-top-1 hr-title-separator">
        <div class="cell small-12">
            <div class="float-left">
                <h3 class="margin-bottom-0"><div class="fi-shopping-cart"> Products Ordered</div></h3>
            </div>
            <table>
                <thead>
                <tr>
                    <th class="small-1">Qty</th>
                    <th class="small-2">Unit</th>
                    <th class="small-7">Products</th>
                    <th class="small-1 text-center">Unit Price</th>
                    <th class="small-1 text-center">Price</th>
                </tr>
                </thead>
                <tbody>
                <% order.details.forEach(product => { %>
                <tr>
                    <td><%= product.quantity %></td>
                    <td><%= product.unit_id.name %></td>
                    <td><%= product.product_id.manufacturer_name %></td>
                    <td class="text-right">$<%= product.unit_price.toFixed(2).toLocaleString() %></td>
                    <td class="text-right">$<%= product.total.toFixed(2).toLocaleString() %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="small-12 margin-top-3">
        <%- include('../invoices/list.ejs') %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>
<script>
    $(function () {
        $('input:text').val('');

        $('#date').fdatepicker({
            initialDate: moment('<%= order.shipping_date %>').format('MM-DD-YYYY, HH:mm'),
            startDate: moment().format('MM-DD-YYYY, HH:mm'),
            format: 'mm-dd-yyyy, hh:ii',
            disableDblClickSelection: true,
            leftArrow:'<<',
            rightArrow:'>>',
            closeIcon:'X',
            closeButton: false,
            language: 'vi',
            pickTime: true
        });
    });

    const saveButton = document.getElementById('saveButton');
    saveButton.addEventListener('click', (e) => {
        const data = new URLSearchParams();
        const form = document.getElementById('invoiceForm');
        for (const pair of new FormData(form)) {
            data.append(pair[0], pair[1]);
        }

        const endpoint = '/invoices/save';
        method = 'POST';

        fetch(endpoint, {method: method, body: data})
            .then(response => {
                if (response.ok || response.status === 400) {
                    return response.json();
                } else {
                    throw new Error('Something went wrong.');
                }
            })
            .then(result => {
                if (result.status === "error") {
                    alert(result.message);
                } else {
                    addNewInvoiceRow(result.invoice, result.invoiceDetails, result.attended)
                    $('#invoiceModal').foundation('close');
                }
            })
            .catch(err => {
                alert(err);
                console.log(err);
            });
    });

    function addNewInvoiceRow(invoice, details, attended) {
        let invoiceNumberRow = document.createElement("div");
        invoiceNumberRow.setAttribute("class", "float-left");
        invoiceNumberRow.innerHTML = "" +
            "<span>Invoice Number: <small><b>" + _.padStart(invoice.number, 6, '0') + "</b></small></span><br>" +
            "<span>Shipping Date: <small><b>" + moment(invoice.shipping_date).format("MMM Do, YYYY") + "</b></small></span>" +
            "";
        document.getElementById("invoicesTable").appendChild(invoiceNumberRow);

        let shippingDateRow = document.createElement("div");
        shippingDateRow.setAttribute("class", "float-right");
        shippingDateRow.innerHTML = "" +
            "<a href=\"#\" class=\"button secondary small\" onclick=\"downloadInvoice('" + invoice._id + "'); return false;\"><span class=\"fi-download\"></span> Download Invoice</a>";
        document.getElementById("invoicesTable").appendChild(shippingDateRow);

        let table = document.createElement("table");
        let thead = document.createElement("thead");
        let headRow = document.createElement("tr");
        let headCol1 = document.createElement("th");
        let headCol2 = document.createElement("th");
        let headCol3 = document.createElement("th");
        let headCol4 = document.createElement("th");
        let headCol5 = document.createElement("th");
        headCol1.innerHTML = "Qty";
        headCol2.innerHTML = "Unit";
        headCol3.innerHTML = "Product";
        headCol4.innerHTML = "Unit Price";
        headCol5.innerHTML = "Price";
        headCol1.setAttribute("class", "small-1");
        headCol2.setAttribute("class", "small-2");
        headCol3.setAttribute("class", "small-7");
        headCol4.setAttribute("class", "small-1 text-center");
        headCol5.setAttribute("class", "small-1 text-center");
        headRow.appendChild(headCol1);
        headRow.appendChild(headCol2);
        headRow.appendChild(headCol3);
        headRow.appendChild(headCol4);
        headRow.appendChild(headCol5);
        thead.appendChild(headRow);
        table.appendChild(thead);

        let tbody = document.createElement("tbody");
        details.forEach(detail => {
            let newRow = tbody.insertRow();
            newRow.innerHTML = "" +
                "<td>" + detail.quantity + "</td>" +
                "<td>" + detail.unit + "</td>" +
                "<td>" + detail.product + "</td>" +
                "<td class=\"text-right\">$" + detail.unit_price.toFixed(2).toLocaleString() + "</td>" +
                "<td class=\"text-right\">$" + detail.total.toFixed(2).toLocaleString() + "</td>"
        });
        table.appendChild(tbody);
        document.getElementById("invoicesTable").appendChild(table);

        let attendedRow = document.createElement("div");
        attendedRow.setAttribute("class", "float-right");
        attendedRow.innerHTML = "<h6>Attended by <small><b>" + attended + "</b></small></h6>";
        document.getElementById("invoicesTable").appendChild(attendedRow);

        let hrSeparator = document.createElement("hr");
        hrSeparator.setAttribute("class", "margin-top-3");
        document.getElementById("invoicesTable").appendChild(hrSeparator);
    }

    function getOrder(id) {
        const endpoint = '/orders/get-details/' + id;
        fetch(endpoint, {method: 'GET'})
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Something went wrong.');
            })
            .then((result) => {
                result.forEach(detail => {
                    document.getElementById('quantity-' + detail._id).value = detail.quantity_pending;
                    document.getElementById('totaltext-' + detail._id).innerText = "$" + (detail.unit_price * detail.quantity_pending).toFixed(2).toLocaleString();
                    if (detail.quantity_pending === 0) {
                        $('#detail-' + detail._id).attr('disabled', true);
                        $('#unit-' + detail._id).attr('disabled', true);
                        $('#product-' + detail._id).attr('disabled', true);
                        $('#price-' + detail._id).attr('disabled', true);
                        $('#total-' + detail._id).attr('disabled', true);
                        $('#quantity-' + detail._id).attr('disabled', true);
                        $('#' + detail._id).attr('style', 'display: none');
                    }
                });
            })
            .catch(err => {
                alert('Something went wrong.');
            });
    }

    <% if (adminUser) { %>
    function deleteOrder(id) {
        if (confirm('Are you sure you want to delete this order?')) {
            const endpoint = '/orders/delete/' + id;
            fetch(endpoint, {method: 'DELETE'})
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Something went wrong.');
                })
                .then((result) => {
                    window.location = '/orders';
                })
                .catch(err => {
                    alert('Something went wrong.');
                });
        }
    }
    <% } %>
</script>
</body>
</html>